*{
    margin: 0;
    padding: 0;
      font-family: "Orbitron", sans-serif;

}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 60px;
  background-color: #333;
  color: white;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
